<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.qw.applink"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--<meta-data-->
        <!--android:name="asset_statements"-->
        <!--android:resource="@string/asset_statements" />-->

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoToolbar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!-- this is config for deep link-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="p5ml3g4x2.bkt.clouddn.com"
                    android:scheme="app" />
            </intent-filter>


            <!-- for APP Link-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="o18dxim1q.qnssl.com"
                    android:scheme="http"
                    />
                <data
                    android:scheme="https"
                    />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.OneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TwoActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>