<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.qw.applink"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoToolbar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="onh41rnsc.bkt.clouddn.com"
                    android:scheme="app" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.OneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TwoActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>